{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">ESPECIALIDADES</h2>

    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd0YrWDCl0ZzGFSCsGfb2-Tg_n86fclfPCiQ&s "
                     class="card-img-top" alt="Fisioterapia">
                <div class="card-body">
                    <h5 class="card-title">Fisioterapia</h5>
                    <br>
                    
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS9Oq295wukzOp8fSiXV1mCJzluXQi50Co1Q&s"
                     class="card-img-top" alt="Neumología">
                <div class="card-body">
                    <h5 class="card-title">Neumología</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://www.soycest.mx/hubfs/cest/blog/2020/04/original-1d881fd520e1b586a78e4cc0e83840e4.jpg"
                     class="card-img-top" alt="Psicología Clínica">
                <div class="card-body">
                    <h5 class="card-title">Psicología Clínica</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9taldlUQsIF4FIpeWNTrHmuHWpSD3IiXPyQ&s"
                     class="card-img-top" alt="Odontología">
                <div class="card-body">
                    <h5 class="card-title">Odontología</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQckRA4mXFBYOSFlN4kV5PNfDJW7QYn4XWRmQ&s"
                     class="card-img-top" alt="Traumatología y Ortopedia">
                <div class="card-body">
                    <h5 class="card-title">Traumatología y Ortopedia</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://www.quironsalud.com/idcsalud-client/cm/images?locale=es_ES&idMmedia=3063371"
                     class="card-img-top" alt="Nutrición Dietética y Estética">
                <div class="card-body">
                    <h5 class="card-title">Nutrición Dietética y Estética</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpOiMmr98SQZ7kpjWzxEd7PHykf0PbvZeidw&s"
                     class="card-img-top" alt="Fonoaudiología">
                <div class="card-body">
                    <h5 class="card-title">Fonoaudiología</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNvWD7M-NMr8XLbXtDYN2Skp6nz8PZ8Cy4WA&s"
                     class="card-img-top" alt="Ginecología y Obstetricia">
                <div class="card-body">
                    <h5 class="card-title">Ginecología y Obstetricia</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzyrGWihVr6vQoNeQesbTufyxoj2z3yNCciw&s"
                     class="card-img-top" alt="Medicina General Integral">
                <div class="card-body">
                    <h5 class="card-title">Medicina General Integral</h5>
                    <br>
                    <a class="btn btn-primary btn-sm" href="#">más información</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
